<div class="panel panel-heading">
  <center>
    <h1><%= t "views.static_pages.home1" %></h1>
  </center>
</div>
<div class="panel-body">
  <center>
    <h3><%= t "views.static_pages.home.team" %></h3>
    <p><%= t "views.static_pages.home.ten1" %></p>
    <p><%= t "views.static_pages.home.ten2" %></p>
    <br/>
    <br/>
    <%= link_to t("views.static_pages.signup"), "#", class: "btn btn-lg btn-primary" %>
  </center>
</div>
