<%= provide :title, t("controllers.categories.list_category") %>
<center>
  <h1><%= t "controllers.categories.list_category" %></h1>
</center>
<div class="pull-right">
  <%= link_to t("views.categories.new_cate"), new_admin_category_path,
    class: "btn btn-primary" %>
</div>
<div class="clearfix"></div>
<br>
<%= will_paginate %>
<ul class="list-group">
  <% @categories.each do |category| %>
    <li class="list-group-item">
      <div class="pull-left" style="font-size:20px;">
        <%= link_to category.name, admin_category_path(category) %>
      </div>
      <div class="pull-right">
        <%= link_to t("views.categories.add_word"),
          new_admin_category_word_path(category), class: "btn btn-success" %>
        <%= link_to t("views.categories.edit"), edit_admin_category_path(category),
          class: "btn btn-primary" %>
        <%= link_to t("views.categories.delete"), admin_category_path(category),
          method: :delete, data: {confirm: t("views.categories.show.confirm_delete")},
          class: "btn btn-danger" %>
      </div>
      <div class="clearfix"></div>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
