<%= provide :title, t("controllers.categories.list_category") %>
<h1><%= t "controllers.categories.list_category" %></h1>
<br>
<%= will_paginate %>
<ul class="list-group">
  <% @categories.each do |category| %>
    <li class="list-group-item">
      <div class="pull-left" style="font-size:20px;">
        <%= link_to category.name, admin_category_path(category) %>
      </div>
      <div class="center">
        <%= link_to t("views.categories.start_lesson"), "#",
          class: "btn btn-primary" %>
      </div>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
