<h1><%= @category.name %></h1>
<div class="panel panel-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t ".words" %></th>
        <th><%= t ".answer" %></th>
      </tr>
    </thead>
    <tbody>
      <% @category.words.each do |word| %>
        <tr>
          <td><%= word.content %></td>
          <td>
            <% word.word_answers.each do |answer| %>
              <%= answer.content if answer.is_correct? %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
