<!DOCTYPE html>
<html>
  <head>
    <title><%= t ".framgia_e_learning" %></title>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to t("views.static_pages.admin_logo"), admin_root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to t("views.layouts.application.linkhome"), admin_root_path %></li>
            <li><%= link_to t("views.layouts.users"), admin_users_path %></li>
            <li><%= link_to t("views.layouts.categories"), admin_categories_path %></li>
            <li><%= link_to t("views.layouts.words"), admin_words_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="divider"></li>
                <li>
                  <%= link_to t("views.layouts.logout"), logout_path, method: :delete  %>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <div class="footer navbar-fixed-bottom">
      <%= t "views.static_pages.application.footer" %>
    </div>
  </body>
</html>
